html,
body {

    background: linear-gradient(to bottom, #7b76db, #9B51E0 );
    max-height: 100vh;

}

.result {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;

}

.coin-info {

    border: 1px solid #ccc;
    width: 600px;
    height: 600px;
    padding: 2rem 3rem;
    background-color: #5E5AA9;
    padding-top: 50px;

}

.coin-info img{

   width: 50px;
   border: 2px solid #fff;
   border-radius: 2rem;

}

.green{

    fill: green;
    margin-bottom: 100px;
        
}

.red {

    fill: red;
    margin-bottom: 100px;

}

.img2 img{

    width: 100px;
    height: auto;
    margin: 0 auto;

}